#navbar{
    top: -50px; /* Hide the navbar 50 px outside of the top view */
    z-index: 30;
    background-color: rgba(71, 70, 73, 0.479); /* Black background color */
    position: fixed; /* Make it stick/fixed */
    padding: 8px;
    width: 100%;
    transition: top 1s; /* Transition effect when sliding down (and up) */

}
@media screen and (min-width: 400px) {
  #navbar{
      z-index: 100;
      background-color: rgba(71, 70, 73, 0.479); /* Black background color */
      position: fixed; /* Make it stick/fixed */
      top: -90px; /* Hide the navbar 50 px outside of the top view */
      padding: 50px;
      width: 100%;
      transition: top 1s; /* Transition effect when sliding down (and up) */

  }
}
nav{
padding-top: 0;
margin-top: 0;
}
i{
  color: white;
  font-size: 40px;
}
a:hover{
  color: yellow !important;
  transition-duration: 1s;
  i{
    color:yellow;
    transition-duration: 1s;
  }
}
.nav-link{
  font-size: 23px !important;
  // font-family: 'Archivo Black', sans-serif;
  color: white ;
  // border-left: 2px solid white;
}

img{
    height: 80px;
    width: auto;
  }


