<div id="bg">
<section id="first">
  <div class="container text-center first">
    <div class="row">
      <div class="col-md-12">
        <h1 id="color">Yonatan Ramirez Mendez</h1>
        <p class="para">
            “What separates design from art is that design is meant to be... functional.”
        </p>
        <span class="bold">
            ― Cameron Moll
        </span>
      </div>
    </div>
  </div>
</section>
<section id="two">
      <div class="container-fluid text-center">
        <h1 id="color">About Me?!</h1>
          <div class="row">
            <div class="col-lg-6 order-lg-1 left">
              <img src="../../assets/img/myselfcropped.png">
            </div>
            <div class="col-lg-6 order-lg-2 right">
              <h2>Hello there!</h2>
              <h3>I'm Yonatan! Website designer, born and raised in little ol'Hanford, California.</h3>
              <p class="aboutp">
                I enjoy creating websites. I can make websites with HTML, CSS , JavaScript, Angular2 and Bootstrap! I like mess around with electronics, gaming, website designing, puzzles. In my spare time I like to play some video games on my pc or go around w3schools to learn new things. I'm usually online so it will won't be hard to contact me!
              </p>
            </div>
          </div>
      </div>
</section>
</div>
<section id="third">
  <div class="container text-center">
      <h1 id="color">Contact Me!</h1>
    <div class="row">
      <div class="col-md-6 order-lg-1 left">
        <h1>left</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus ipsa distinctio natus quisquam ea iure.</p>
      </div>
      <div class="col-md-6 order-lg-2 right">
        <h1>Right</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem quis illo aspernatur. Earum, similique. Adipisci.</p>
      </div>
    </div>
  </div>

</section>
<section id="footer">
  <div class="container-fluid">
    <div class="row">
        <div class="col-md-6 order-lg-1 left">
       <p class="text-mute">This is copyright!</p>
        </div>
        <div class="col-md-6 order-lg-2 right">
         <p class="text-mute">This is the icon area!</p>
        </div>
    </div>
  </div>
</section>
