<div id="bg">
<section id="first">
  <div class="container text-center first">
    <div class="row">
      <div class="col-md-12">
        <h1 id="color">Yonatan Ramirez Mendez</h1>
        <p class="para">
            “What separates design from art is that design is meant to be... functional.”
        </p>
        <span>
            ― Cameron Moll
        </span>
      </div>
    </div>
  </div>
</section>
<section id="two">
      <div class="container-fluid text-center">
        <h1 id="color">About Me?!</h1>
          <div class="row">
            <div class="col-lg-6 order-lg-1 left">
              <img src="../../assets/img/myselfcropped.png">
            </div>
            <div class="col-lg-6 order-lg-2 right">
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae impedit, numquam perspiciatis rem modi animi! Exercitationem quis, reprehenderit fugit, sunt architecto velit, reiciendis doloribus provident mollitia consequatur placeat ab nostrum magnam rerum sapiente maxime dolorem! Ipsam cupiditate ipsa ex sit at dolorem quos nihil ratione quae quis eos, ipsum est.</p>
            </div>
          </div>
      </div>
</section>

</div>
